<app-header></app-header>
<div class="row bg-dark">
  <div class="col-sm-10 m-auto">
    <div class="row">
      <div class="col-sm-6">
        <div class="cart-page">
          {{cartItems }}
          <!-- Cart Items -->
          <div class="cart-items">
            <div class="cart-item" *ngFor="let item of cartItems">
              <div class="item-left">
                <img [src]="item.dish_image" alt="{{ item.dish_name }}" class="cart-item-img" />
                <div class="item-name">{{ item.name }}</div>
                <p>{{ item.description }}</p>
                <div class="item-price">₹{{ item.dish_price }}</div>
              </div>
              <div class="item-right">
                <button class="qty-btn" (click)="decreaseQuantity(item)">-</button>
                <span class="qty">{{ item.quantity }}</span>
                <button class="qty-btn" (click)="increaseQuantity(item)">+</button>
              </div>
            </div>
          </div>

          
          <!-- Price Summary -->
          <div class="price-summary card">
            <div class="row">
              <span>Subtotal</span>
              <span>₹{{ totalPrice | currency }}</span>
            </div>
            <div class="row total">
              <strong>Total</strong>
              <strong>₹{{ totalPrice | currency }}</strong>
            </div>
          </div>

          <!-- Checkout Button -->
          <button class="checkout-btn" (click)="checkout()">
            Proceed to Checkout
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cart-page">
          <!-- Store Info -->
          <div class="store-info card text-white">
            <div class="p-4">
              <div class="store-name p-2">Pizza Boyz</div>
              <div class="store-address p-2">Adress of the store</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>