<app-header></app-header>
<div class="page-header bg-dark text-white p-4 text-center shadow-sm">
    <div class="container align-items-center">
        <h2 class="mb-1">wishlist</h2>
        <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none text-light"> Home</a>
        </li>
        <li class="breadcrumb-item active text-danger" aria-current="page">
            wishlist
        </li>
    </div>
</div>
<div class="wishlist-container">
    <div class="wishlist-card">
        <div class="card-image">
            <img src="/assets/img/chicken_pizzas/Apricot Chicken Pizza.webp" alt="Poultry Palace">
            <button class="close-btn">×</button>
            <hr>
        </div>
        <div class="card-content">
            <h4>Poultry Palace</h4>
            <p>Apricot Chicken Pizza</p>
            <div class="rating">3.9</div>
            <div class="info">
                <span>• New Jersey</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 3.2 km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 10m
                </span>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/chicken_pizzas/Butter Chicken Pizza .webp" alt="Ribeye Junction">
            <button class="close-btn">×</button>
            <hr>
            <div class="offer">upto $2 <span>50% OFF</span></div>
            <div class="best-seller">Best Seller</div>
        </div>
        <div class="card-content">
            <h4>Ribeye Junction</h4>
            <p>Butter Chicken Pizza</p>
            <div class="rating">3.2</div>
            <div class="info">
                <span>• California</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 1km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 10m
                </span>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/chicken_pizzas/Bacon And Alfredo Chicken Pizza .webp" alt="The Grill Master’s Cafe">
            <button class="close-btn">×</button>
            <hr>
        </div>
        <div class="card-content">
            <h4>The Grill Master’s Cafe</h4>
            <p>Bacon And Alfredo Chicken Pizza</p>
            <div class="rating">4.3</div>
            <div class="info">
                <span>• New York</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 5 km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 20m
                </span>
            </div>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/chicken_pizzas/Cranberry Chicken and Camembert Pizza  .webp" alt="Cozy Cuppa Cafe">
            <button class="close-btn">×</button>
            <hr>
        </div>
        <div class="card-content">
            <h4 class="mt-2">Cozy Cuppa Cafe</h4>
            <p>Cranberry Chicken and Camembert Pizza</p>
            <div class="rating">3.6</div>
            <div class="info">
                <span>• Dallas</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 3.2 km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 10m
                </span>
            </div>
        </div>
    </div>
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/chicken_pizzas/Cajun Chicken Pizza.webp" alt="Cozy Cuppa Cafe">
            <button class="close-btn">×</button>
        </div>
        <div class="card-content">
            <h4 class="mt-3">Cozy Cuppa Cafe</h4>
            <p>Cajun Chicken Pizza</p>
            <div class="rating">3.6</div>
            <div class="info">
                <span>• Dallas</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 3.2 km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 10m
                </span>
            </div>
        </div>
    </div>
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/meat_pizzas/Meat Supreme Pizza .webp" alt="Cozy Cuppa Cafe">
            <button class="close-btn">×</button>
            <hr>
        </div>
        <div class="card-content">
            <h4>Cozy Cuppa Cafe</h4>
            <p>Meat Supreme Pizza</p>
            <div class="rating">3.6</div>
            <div class="info">
                <span>• Dallas</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 4km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 15m
                </span>
            </div>
        </div>
    </div>
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/chicken_pizzas/Chicken Triple Sauce Pizza .webp" alt="Cozy Cuppa Cafe">
            <button class="close-btn">×</button>
        </div>
        <div class="card-content">
            <h4 class="mt-3">Cozy Cuppa Cafe</h4>
            <p>Chicken Triple Sauce Pizza</p>
            <div class="rating">3.6</div>
            <div class="info">
                <span>• Dallas</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 6km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 30m
                </span>
            </div>
        </div>
    </div>
    <div class="wishlist-card">
        <div class="card-image">
            <img src="assets/img/meat_pizzas/Italian Pizza .webp" alt="Cozy Cuppa Cafe">
            <button class="close-btn">×</button>
        </div>
        <div class="card-content mt-2">
            <h4>Cozy Cuppa Cafe</h4>
            <p>Italian Pizza</p>
            <div class="rating">3.6</div>
            <div class="info">
                <span>• Dallas</span>
                <span>
                    <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> 4km
                </span>
                <span>
                    <img src="/assets/images/icons/clock.png" alt="location" class="location-img" /> 15m
                </span>
            </div>
        </div>
    </div>
    <!-- Row 2 : Add 4 more cards (same structure) -->
</div>
<app-footer></app-footer>