<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<div class="wishlist-container">
  <div class="wishlist-card" *ngFor="let item of wishlist; let i = index">
    <div class="card-image">
      <img [src]="item.image" [alt]="item.restaurantName">
      <!-- <button class="close-btn" (click)="removeItem(i)">×</button> -->

      <!-- Fav Checkbox -->
      <input type="checkbox" [id]="'fav' + i" class="fav-checkbox">
      <label [for]="'fav' + i" class="fav-label"><i class="bi bi-heart"></i></label>

      <hr>
      <div *ngIf="item.offer" class="offer">upto {{item.offer}} <span>50% OFF</span></div>
      <div *ngIf="item.bestSeller" class="best-seller">Best Seller</div>
    </div>

    <div class="card-content">
      <h4>{{ item.restaurantName }}</h4>
      <p>{{ item.pizzaName }}</p>
      <div class="rating">{{ item.rating }}</div>
      <div class="info">
        <span>• {{ item.location }}</span>
        <span>
          <img src="/assets/images/icons/location.png" alt="location" class="location-img" /> {{ item.distance }}
        </span>
        <span>
          <img src="/assets/images/icons/clock.png" alt="clock" class="location-img" /> {{ item.time }}
        </span>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>