<header class="header-light">
    <div class="custom-container">
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasNavbar">
                <span class="navbar-toggler-icon">
                    <i class="ri-menu-line"></i>
                </span>
            </button>
            <a href="javascript:void(0)">
                <img class="img-fluid logo" src="assets/img/pizza-black-1.png" alt="logo">
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSkeleton">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSkeletonLabel">
                        Menu
                    </h5>
                    <button class="navbar-toggler btn-close" type="button" data-bs-toggle="collapse"
                        data-bs-target="#offcanvasSkeleton" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link"  href="javascript:void(0)">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="menu" href="javascript:void(0)">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Stores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>