<header class="header-light">
    <div class="custom-container">
        <nav class="navbar navbar-expand-lg p-0 w-100">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasNavbar">
                <span class="navbar-toggler-icon">
                    <i class="ri-menu-line"></i>
                </span>
            </button>

            <a href="javascript:void(0)" class="navbar-brand">
                <img class="img-fluid logo" src="assets/img/pizza-black-1.png" alt="logo">
            </a>

            <div class="collapse navbar-collapse justify-content-center" id="offcanvasNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="menu" href="javascript:void(0)">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Stores</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Offers</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>

            <div class="cart-container ms-auto d-flex align-items-center" (click)="goToCart()">
                <i class="ri-shopping-cart-2-line"></i>
                <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
            </div>


        </nav>
    </div>
</header>