<div class="sectionbg">
    <div class="container">
        <div class="title animated-title">
            <div class="d-flex align-items-center justify-content-between flex-wrap w-100">
                <h2>Categories</h2>
            </div>
        </div>
        <div class="categories-wrapper">
            <button class="scroll-btn prev" (click)="scrollLeft()">&#10094;</button>
            <div class="categories-grid" #categoryContainer>
                <div *ngFor="let item of categories" class="category-card" (click)="selectCategory(item)"
                    [ngClass]="{ highlighted: selectedCategoryId === item.id }">
                    <img [src]="item.category_image" alt="{{ item.name }}" />
                    <h6>{{ item.name }}</h6>
                </div>
            </div>
            <button class="scroll-btn next" (click)="scrollRight()">&#10095;</button>
        </div>
    </div>
</div>