.banner-section {
  background-color: rgb(36 33 31);
  font-family: "Poppins", sans-serif;
}
.vertical-product-body .product-items{
  border-bottom: 0px dashed rgba(var(--dashed-line), 0);
}
.vertical-product-box {
  background-color: rgb(43, 43, 43);
  transition: transform 0.3s, box-shadow 0.3s;
}
.vertical-product-box:hover{
  border-bottom: 3px dashed rgba(var(--dashed-line), 3);
}
.vertical-product-box-img {
  width: 100%;
  height: 200px; /* adjust as needed */
  overflow: hidden; /* hide overflow */
  border-radius: 8px; /* optional, matches card style */
}

.vertical-product-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop instead of stretch */
  display: block;
}




