<div class="quote-panel">
    <ul class="marquee">
        <li>
            <span class="space-family">Pizza Boyz - Flat Bush</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
        <li>
            <span class="space-family">Pizza Boyz - Sandringham</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
        <li>
            <span class="space-family">Pizza Boyz - Hillsborough</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
        <li>
            <span class="space-family">Pizza Boyz - Glen Eden</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
        <li>
            <span class="space-family">Pizza Boyz - Vizagzone</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
        <li>
            <span class="space-family">Pizza Boyz - Ellersliepizz Boyz - Ellerslie</span>
            <img src="assets/images/svg/marquee.svg" alt="star" class="img-fluid">
        </li>
    </ul>
</div>