<section class="section-b-space testimonial-section">
    <div class="container">
        <div class="swiper testimonial mb-xl-5 mb-sm-4 mb-3">
            <div class="swiper-wrapper">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <img class="img-fluid img" src="assets/img/deals1.jpeg"
                                    alt="p1">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <img class="img-fluid img"
                                    src="assets/img/deals2.jpeg" alt="p2">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <img class="img-fluid img" src="assets/img/deals3.jpeg" alt="p3">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <img class="img-fluid img"
                                    src="assets/img/deals4.jpeg" alt="p4">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <img class="img-fluid img"
                                    src="assets/img/deals5.jpeg" alt="p5">
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>