<div class="container p-3">
    <div class="carousel-wrapper">
        <owl-carousel-o #owlCarousel [options]="customOptions" class="owl-theme">
            <ng-template carouselSlide *ngFor="let item of testimonials">
                <div class="testimonial-box">
                    <img class="img-fluid img" [src]="item.image" [alt]="item.name" />
                </div>
            </ng-template>
        </owl-carousel-o>
        <!-- overlay prev/next buttons on left & right of slider -->
        <button class="custom-nav prev" aria-label="Previous" (click)="prev()">
            <!-- SVG left -->
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                <path d="M15 6 L9 12 L15 18" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <button class="custom-nav next" aria-label="Next" (click)="next()">
            <!-- SVG right -->
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                <path d="M9 6 L15 12 L9 18" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</div>