.sectionbg {
  background-color: rgb(36 33 31);
  font-family: "Poppins", sans-serif;
}
.category-swiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.category-card {
  width: 200px;
  color: #fff;
  flex: 0 0 auto;
  text-align: center;
  background-color: #0f100b;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  align-items: center;
  justify-content: space-around;
  border: 2px solid transparent; /* default border */
  cursor: pointer;
  transition: border-color 0.3s, transform 0.2s;
}
.category-card img {
  width: 70px; /* slightly smaller image */
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 6px;
}
.category-card h6 {
  font-size: 13px;
  margin: auto;
  color: white;
}
.category-card.highlighted {
  border-color: #ff0000; /* red highlight */
  transform: scale(1.05); /* optional zoom effect */
}
swiper-container::part(button-prev) {
  right: -40px;
  background-color: #ff0000; /* Red background */
  color: #fff; /* White arrow */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;
  align-items: center; /* move more left (outside carousel) */
}
swiper-container::part(button-next) {
  background-color: #ff0000; /* Red background */
  color: #fff; /* White arrow */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;
  align-items: center; /* move more left (outside carousel) */
}
