<div class="sectionbg">
  <div class="container">
    <!-- Case 1 & 2: Static layout for 1–6 categories -->
    <div *ngIf="showStaticTwo || showStaticGrid" class="categories-grid">
      <div *ngFor="let item of categories; " class="category-card" (click)="selectCategory(item)
    " [ngClass]="{ 'highlighted': selectedCategoryId === item.id }">
        <img [src]="item.category_image" alt="{{ item.name }}" />
        <h6>{{ item.name }}</h6>
      </div>
    </div>
    <!-- Case 3: Swiper layout for more than 6 categories -->
    <swiper-container *ngIf="showSwiper" [slidesPerView]="'auto'" [spaceBetween]="5" [breakpoints]="{
                      '0': { slidesPerView: 1 },
                      '576': { slidesPerView: 2 },
                      '768': { slidesPerView: 3 },
                      '992': { slidesPerView: 4 },
                      '1000': { slidesPerView: 5 }
                    }" navigation="true" loop="false" autoplay='{"delay": 2000, "disableOnInteraction": false}'
      class="category-swiper">
      <swiper-slide *ngFor="let item of categories;" class="category-slide p-5">
        <div class="category-card" (click)="selectCategory(item)"
          [ngClass]="{ 'highlighted': selectedCategoryId === item.id }">
          <img [src]="item.category_image" alt="{{ item.name }}" />
          <h6>{{ item.name }}</h6>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>