<div class="container">
  <section class="categories-section">

    <!-- Case 1: Only 1–2 categories -->
    <div *ngIf="showStaticTwo" class="d-flex justify-content-center gap-4 flex-wrap">
      <div *ngFor="let item of categories" class="category-card">
        <img [src]="item.category_image" alt="{{ item.name }}" />
        <h6>{{ item.name }}</h6>
      </div>
    </div>

    <!-- Case 2: Between 3–6 categories -->
    <div *ngIf="showStaticGrid" class="d-flex justify-content-center gap-4 flex-wrap">
      <div *ngFor="let item of categories" class="category-card">
        <img [src]="item.category_image" alt="{{ item.name }}" />
        <h6>{{ item.name }}</h6>
      </div>
    </div>

    <!-- Case 3: More than 6 categories (Swiper active) -->
    <swiper-container *ngIf="showSwiper" slides-per-view="4" space-between="10" navigation="true"
      class="category-swiper swiper-wrapper">
      <swiper-slide *ngFor="let item of categories" class="swiper-slide category-slide">
        <div class="category-card">
          <div class="image-wrapper">
            <img [src]="item.category_image" alt="{{ item.name }}" />
          </div>
          <h6>{{ item.name }}</h6>
        </div>
      </swiper-slide>
    </swiper-container>



  </section>
</div>