<div class="modal-header">
    <h5 class="modal-title">Select Store</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="store-list">
        <ul class="list-group">
            <li *ngFor="let store of stores" (click)="selectStore(store)" class="list-group-item"
                [class.active]="store.name === storeService.getSelectedStoreName()" style="cursor:pointer;">
                <div class="flex-grow-1">
                                <h5 class="fw-bold mb-1">{{ store.name }}</h5>
                                <p class="mb-1 small">📍 {{ store.address }}</p>
                            </div>
                <!-- {{ store.name }}
                {{ store.address }} -->
            </li>
        </ul>
    </div>
</div>