<app-header class="head"></app-header>
<div class="breadcrumb-section">
  <div class="breadcrumb-content">
    <h2>contact Grid</h2>
    <p>
      <a href="home">Home</a>
      <span class="separator">/</span>
      <strong>Contact us</strong>
    </p>
  </div>
</div>
<div class="contact-section">
  <div class="pizza-feedback-section text-center">
    <div class="feedback-box">
      <h2>What Our Customers Say</h2>
      <p>“Absolutely delicious pizza! The crust is crispy, toppings fresh, and flavors outstanding.”</p>
      <p>“Best pizza in town — always hot, always perfect!”</p>
    </div>
    
  </div>
</div>
<div class="contact-cards">
  <div class="card">
    <img src="assets/img/dessert_pizzas/M and M Pizza.webp" alt="Staff" class="card-image">
    <div class="card-content">
      <h2>WHAT'S YOUR QUESTION?</h2>
      <p>
        Need more info about our menu and restaurants? Find answers to frequently asked questions or get in contact
        with our team.
      </p>
      <button class="btn">ASK US HERE</button>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/veg_pizzas/Pesto Corn Pizza .webp" alt="Food" class="card-image">
    <div class="card-content">
      <h2>HOW WAS YOUR EXPERIENCE?</h2>
      <p>
        Your feedback unlocks better pizza possibilities. Help us improve your experience at Cicis Pizza.
      </p>
      <button class="btn">GIVE US FEEDBACK</button>
    </div>
  </div>
</div>
<div class="signup-section">
  <div class="container">
    <h2>NEVER MISS OUT ON AMAZING DEALS AT CICIS!</h2>
    <p>SIGN UP FOR NEW PIZZABILITIES</p>

    <form class="form">
      <div class="form-row">
        <input type="text" placeholder="First Name*" required>
        <input type="text" placeholder="Last Name*" required>
        <input type="email" placeholder="Email*" required>
      </div>

      <div class="form-row">
        <input type="tel" placeholder="+12345678901" required>
        <input type="text" placeholder="MM/DD" required>
        <input type="text" placeholder="Home Store*" required>
      </div>
      <div class="form-row">
        <select required>
          <option disabled selected>What's your Buffet fave?</option>
          <option>Pizza</option>
          <option>Pasta</option>
          <option>Salad</option>
          <option>Dessert</option>
        </select>
      </div>
      <div class="form-row">
        <button type="button" class="submit-btn">Submit</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>