// .quote-panel {
//   transform: rotate(-1deg) translateY(-18px);
//   padding: calc(10px + 5 * (100vw - 320px) / 1600) 0;
//   background: linear-gradient(
//     to right,
//     rgba(255, 0, 0, 1),
//     rgba(0, 0, 0, 1)
//   );
//   overflow: hidden;
// }
.quote-panel {
  transform: translateY(-18px); /* removed rotate(-1deg) */
  padding: calc(10px + 5 * (100vw - 320px) / 1600) 0;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(0, 0, 0, 1)
  );
  overflow: hidden;
}

.quote-panel .marquee {
  display: flex;
  gap: calc(15px + 10 * (100vw - 320px) / 1600);
  animation: marquee 20s linear infinite;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}
