

.help-section {
  padding: 60px 20px;
  background-color: #000;
  margin-top: 20px;
  
}

.help-header {
  text-align: center;
  margin-bottom: 40px;
}

.help-header h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #9e0606; /* bright red */
}

.help-header p {
  color: #bbb;
  font-size: 1.1rem;
}

.faq-card {
  background: #1a1a1a;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);
}

.accordion-item {
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.accordion-button {
  background: linear-gradient(90deg, #000, #222);
  color: #fff;
  font-weight: 600;
  padding: 18px;
  font-size: 1.05rem;
  border: none;
  box-shadow: none;
}

.accordion-button.collapsed {
  background: #111;
  
}

.accordion-button:not(.collapsed) {
  background: #810707;
  color: #fff;
}

.accordion-body {
  background: #222;
  color: #ddd;
  padding: 20px;
  font-size: 0.95rem;
}

.faq-img {
  max-width: 100%;
  border-radius: 12px;
  height:50px;
 
 
}

.highlight-box {
  margin-top: 50px;
  text-align: center;
color: #ddd;
  padding: 25px;
  border-radius: 15px;
}

.highlight-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.highlight-box a {
  background: #6f0303;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.highlight-box a:hover {
  background: #fff;
  color: #000;
}
