<footer class="footer-section">
  <img src="assets/images/home-bg2.png" class="img-fluid footer-img" alt="footer background" />
  <div class="custom-container">
    <div class="row g-4">
      <!-- Logo & About -->
      <div class="col-xl-5 col-lg-12">
        <div class="footer-logo-part">
          <img class="img-fluid logo" src="assets/img/pizza_white-1.png" alt="logo" />
          <p>
            Welcome to our online order website! Browse our wide selection of
            products and place orders from the comfort of your home.
          </p>
          <!-- Social Media -->
          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/login/" target="_blank">
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/i/flow/login" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/login/" target="_blank">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="ri-instagram-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/" target="_blank">
                <i class="ri-youtube-fill"></i>
              </a>
            </li>
          </ul>
          <!-- App Badges -->
          <div class="app-badges">
            <a href="https://apps.apple.com/" target="_blank">
              <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                alt="Download on the App Store" />
            </a>
            <a href="https://play.google.com/store" target="_blank">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                alt="Get it on Google Play" />
            </a>
          </div>
        </div>
      </div>
      <!-- Links -->
      <div class="col-xl-7">
        <div class="row g-4">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h5 class="footer-title">Company</h5>
            <ul class="footer-links">
              <li><a href="/#/menu">Menu</a></li>
              <li><a href="/#/stores">Stores</a></li>
              <li><a href="/#/offers">Offers</a></li>
              <li><a href="/#/about">About</a></li>
              <li><a href="/#/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h5 class="footer-title">Account</h5>
            <ul class="footer-links">
              <li><a href="/#/myorders">My orders</a></li>
              <li><a href="/#/wishlist">Wishlist</a></li>
              <li><a href="/#/cartlist">Cartlist</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <h5 class="footer-title">Top Brands</h5>
            <ul class="footer-links">
              <li><a href="#">Chicken Pizzas</a></li>
              <li><a href="#">Dessert Pizzas</a></li>
              <li><a href="#">Meat Pizzas</a></li>
              <li><a href="#">Seafood Pizzas</a></li>
              <li><a href="#">Vegetarian Pizzas</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
            <!-- <h5 class="footer-title">Useful Links</h5>
              <ul class="footer-links">
                <li><a href="#signup">Register</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#help">Help</a></li>
                <li><a href="#terms">Terms & Conditions</a></li>
                <li><a href="#deliverypolicy">Delivery Policy</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li><a href="#privacypolicy">Privacy Policy</a></li>
                <li><a href="#review">Review</a></li>
              </ul> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Footer -->
    <div class="bottom-footer">
      <p>
        &copy; Copyright 2024 - {{ currentYear }}
        <strong>Pizza Boyz</strong>. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>